.page-banner {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

  .left-banner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-text {
      font-size: 2rem;
      font-weight: 500;
      padding: 6px 0;
      text-transform: uppercase;
      color: #fff;
      width: 70%;
      word-break: break-word;
    }

    .search-field-form {
      display: flex;
      justify-content: space-between;
      width: 380px;
    }
  }

  .right-banner-item {
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .page-banner {
    flex-direction: column-reverse;

    .left-banner-item {
      .banner-text {
        width: 100vw;
        width: 100vw;
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}
