.page-banner {
  display: flex;
  justify-content: space-between;

  .left-banner-item {
    .banner-text {
      font-size: 2rem;
      font-weight: 700;
      padding: 6px 0;
      text-transform: uppercase;
      color: #fff;
      width: 70%;
      word-break: break-word;
    }

    .search-field-form {
      display: flex;
      justify-content: space-between;
      width: 380px;
    }
  }
}
